{% block content %}

<div class="row">
	<div class="large-12 columns">       
		
		
		
		<ul class="example-orbit" data-orbit>
			<li>
				
				{{ "front.jpg" | asset_url | image_tag }}
				<div class="orbit-caption">
					Caption One.
				</div>
			</li>
			<li class="active">
				{{ "gal2.jpg" | asset_url | image_tag }}
				<div class="orbit-caption">
					Caption Two.
				</div>
			</li>
			<li>
				{{ "gal3.png" | asset_url | image_tag }}
				<div class="orbit-caption">
					Caption Three.
				</div>
			</li>
			<li>
				{{ "gal4.jpg" | asset_url | image_tag }}
				<div class="orbit-caption">
					Caption Four.
				</div>
			</li>
			<li>
				{{ "gal5.jpg" | asset_url | image_tag }}
				<div class="orbit-caption">
					Caption Five.
				</div>
			</li>
		</ul>
		
	</div>
</div>

<div class="row">
	<div class="medium-8 columns">       
		<h1>Heading</h1>    
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quos nisi redarguimus, omnis virtus, omne decus, omnis vera laus deserenda est. Isto modo, ne si avia quidem eius nata non esset. Nam nec vir bonus ac iustus haberi debet qui, ne malum habeat, abstinet se ab iniuria. <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Haec qui audierit, ut ridere non curet, discedet tamen nihilo firmior ad dolorem ferendum, quam venerat. Atque ipsa hominis institutio si loqueretur, hoc diceret, primos suos quasi coeptus appetendi fuisse, ut se conservaret in ea natura, in qua ortus esset. Istud quidem, inquam, optime dicis, sed quaero nonne tibi faciendum idem sit nihil dicenti bonum, quod non rectum honestumque sit, reliquarum rerum discrimen omne tollenti. Etenim, si et sapere expetendum sit et valere, coniunctum utrumque magis expetendum sit quam sapere solum, neque tamen, si utrumque sit aestimatione dignum, pluris sit coniunctum quam sapere ipsum separatim. Negare non possum. Quos quidem dies quem ad modum agatis et in quantam hominum facetorum urbanitatem incurratis, non diconihil opus est litibus-; Vides igitur, si amicitiam sua caritate metiare, nihil esse praestantius, sin emolumento, summas familiaritates praediorum fructuosorum mercede superari. Duo Reges: constructio interrete. </p>
			
			<p>In eo autem voluptas omnium Latine loquentium more ponitur, cum percipitur ea, quae sensum aliquem moveat, iucunditas. Quoniamque non dubium est quin in iis, quae media dicimus, sit aliud sumendum, aliud reiciendum, quicquid ita fit aut dicitur, omne officio continetur. Cum ageremus, inquit, vitae beatum et eundem supremum diem, scribebamus haec. Primum enim, si vera sunt ea, quorum recordatione te gaudere dicis, hoc est, si vera sunt tua scripta et inventa, gaudere non potes. Nam sunt et in animo praecipua quaedam et in corpore, quae cum leviter agnovit, tum discernere incipit, ut ea, quae prima data sunt natura, appetat asperneturque contraria. </p>
			
		Ad eas enim res ab Epicuro praecepta dantur. Atque ita re simpliciter primo collocata reliqua subtilius persequentes corporis bona facilem quandam rationem habere censebant; </p>
		
</div>
	<div class="medium-4 columns">       
		<div class="panel"> 
			<ul class="example-orbit-content" data-orbit
				data-options=	"animation_speed:20;
								bullets:false;">
								
				<li data-orbit-slide="headline-1">
					<div>
						<h2>Ads 1</h2>
						<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Donec ullamcorper lectus nec iaculis viverra. 	Sed vitae justo risus. 
						Pellentesque viverra accumsan magna ut malesuada. Nam ut ante pulvinar,
						dictum orci et, viverra ipsum. Maecenas consequat tincidunt eros, 
						et tristique orci tempus id. Fusce eu erat metus. Nunc molestie u
						rna ut ante laoreet, ut pellentesque odio consequat. 
						Nulla tincidunt elementum metus, sit amet congue ipsum. Donec 
						molestie purus mauris, sit amet varius nunc auctor vel. Aenean 
						in semper ante, facilisis consequat justo. In feugiat laoreet semper. 
						Aliquam id elit tellus. Class aptent taciti sociosqu ad litora torquent
						per conubia nostra, per inceptos himenaeos. Vestibulum interdum volutpat justo, 
						placerat pretium tortor rhoncus non. Proin et sagittis tellus. Vestibulum sagittis rutrum justo. 
						</p>
						
					</div>
				</li>
				<li data-orbit-slide="headline-2">
					<div>
						<h2>Ads 2</h2>
						<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Donec ullamcorper lectus nec iaculis viverra. 	Sed vitae justo risus. 
						Pellentesque viverra accumsan magna ut malesuada. Nam ut ante pulvinar,
						dictum orci et, viverra ipsum. Maecenas consequat tincidunt eros, 
						et tristique orci tempus id. Fusce eu erat metus. Nunc molestie u
						rna ut ante laoreet, ut pellentesque odio consequat. 
						Nulla tincidunt elementum metus, sit amet congue ipsum. Donec 
						molestie purus mauris, sit amet varius nunc auctor vel. Aenean 
						in semper ante, facilisis consequat justo. In feugiat laoreet semper. 
						Aliquam id elit tellus. Class aptent taciti sociosqu ad litora torquent
						per conubia nostra, per inceptos himenaeos. Vestibulum interdum volutpat justo, 
						placerat pretium tortor rhoncus non. Proin et sagittis tellus. Vestibulum sagittis rutrum justo. 
						</p>
					</div>
				</li>
				<li data-orbit-slide="headline-3">
					<div>
						<h2>Ads 3</h2>
						<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Donec ullamcorper lectus nec iaculis viverra. 	Sed vitae justo risus. 
						Pellentesque viverra accumsan magna ut malesuada. Nam ut ante pulvinar,
						dictum orci et, viverra ipsum. Maecenas consequat tincidunt eros, 
						et tristique orci tempus id. Fusce eu erat metus. Nunc molestie u
						rna ut ante laoreet, ut pellentesque odio consequat. 
						Nulla tincidunt elementum metus, sit amet congue ipsum. Donec 
						molestie purus mauris, sit amet varius nunc auctor vel. Aenean 
						in semper ante, facilisis consequat justo. In feugiat laoreet semper. 
						Aliquam id elit tellus. Class aptent taciti sociosqu ad litora torquent
						per conubia nostra, per inceptos himenaeos. Vestibulum interdum volutpat justo, 
						placerat pretium tortor rhoncus non. Proin et sagittis tellus. Vestibulum sagittis rutrum justo. 
						</p>
					</div>
				</li>
			</ul>
			
			
		</div>
	</div>
	
	{% endblock %}
